@import "https://fonts.googleapis.com/css?family=Raleway";
body {
  font-family: 'Lato', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Lato', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-weight: 700;
}

body {
  padding: 0;
  margin: 0;
  background: #fff;
}

html {
  font-family: "Raleway";
}

h1 {
  font-family: "Raleway";
}

h2 {
  font-family: "Raleway";
}

h3 {
  font-family: "Raleway";
}

h4 {
  font-family: "Raleway";
}

h5 {
  font-family: "Raleway";
}

h6 {
  font-family: "Raleway";
}

a {
  font-family: "Raleway";
}

/*header style*/
#header {
  background-image: url("https://images.unsplash.com/photo-1484417894907-623942c8ee29?dpr=1&auto=format&fit=crop&w=1080&h=608&q=80&cs=tinysrgb&crop=");
  background-attachment: fixed;
  background-size: cover;
  background-position: center;
  padding-top: 14%;
  min-height: 100%;
  min-width: 100%;
  left: 0;
  top: 0;
  /*
    &.container {
        &.description {
            position: absolute;
            top: 30%;
            margin: auto;
            padding: 2em;

            &.h1 {
                font-size: 2rem;
                // color: #F97300 !important;
            }

            &.p {
                // color: #666;
                // font-size: 20px;
                width: 50%;
                line-height: 1.5;
            }

            &.button {
                border: 1px solid #F97300;
                // background: #F97300;
                // color: #fff;
            }
        }
    }
    */
}

#header .overlay {
  position: absolute;
  /*
        background-color: $gray-900;
        min-height: 100%;
        min-width: 100%;
        left: 0;
        top: 0;
        */
  background: rgba(244, 244, 244, 0.025);
}

#header .overlay.description {
  position: absolute;
  top: 30%;
  margin: auto;
  padding: 2em;
}

#header .overlay.description.h1 {
  font-size: 2rem;
}

#header .overlay.description.p {
  width: 50%;
  line-height: 1.5;
}

.mymap {
  height: 320px;
  width: 240px;
  min-height: 100%;
  min-width: 100%;
}
