.portfolio {
    margin: 4em 0;
    position: relative;

    h1 {
        // color: $color_3;
        margin: 2em;
    }

    img {
        height: 15rem;
        width: 100%;
        margin: 1em;
    }
}