/*
 https: //stackoverflow.com/questions/23976498/fading-bootstrap-navbar-on-scrolldown-while-changing-text-color#
 */
/*
.navbar-fixed-top {
    background-color: rgba(255, 255, 255, 1);
    transition: background-color 2s ease 0s;
}

.navbar-fixed-top.opaque {
    background-color: rgba(255, 255, 255, 0);
    transition: background-color 2s ease 0s;
}
*/