/*header style*/
#header {
    // background-image: url('../img/bg-headerback.jpg');
    // background-image: url('../img/bg-masthead.jpg');
    // background-image: url('https://loremflickr.com/1920/1080/tech,computer,mac/all?random=1&lock=7');
    background-image: url('https://images.unsplash.com/photo-1484417894907-623942c8ee29?dpr=1&auto=format&fit=crop&w=1080&h=608&q=80&cs=tinysrgb&crop=');
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
    // position: relative;
    // @include background-cover; // Optional
    padding-top: 14%;
    // padding-bottom: 8rem;
    min-height: 100%;
    min-width: 100%;
    left: 0;
    top: 0;

    .overlay {
        position: absolute;
        /*
        background-color: $gray-900;
        min-height: 100%;
        min-width: 100%;
        left: 0;
        top: 0;
        */
        background: rgba(244, 244, 244, 0.025);

        &.description {
            position: absolute;
            top: 30%;
            margin: auto;
            padding: 2em;

            &.h1 {
                font-size: 2rem;
                // color: #F97300 !important;
            }

            &.p {
                // color: #666;
                // font-size: 20px;
                width: 50%;
                line-height: 1.5;
            }

            // &.button {
                //border: 1px solid #F97300;
                // background: #F97300;
                // color: #fff;
            // }
        }
    }

    // div {

        //div {
        // .description {
            // background-color: #F97300;
        // }

        //}
    // }

    /*
    &.container {
        &.description {
            position: absolute;
            top: 30%;
            margin: auto;
            padding: 2em;

            &.h1 {
                font-size: 2rem;
                // color: #F97300 !important;
            }

            &.p {
                // color: #666;
                // font-size: 20px;
                width: 50%;
                line-height: 1.5;
            }

            &.button {
                border: 1px solid #F97300;
                // background: #F97300;
                // color: #fff;
            }
        }
    }
    */
}
