@import "https://fonts.googleapis.com/css?family=Raleway";
$font_family_1: "Raleway";
html {
    margin: 0;
    padding: 0;
    height: 100%;
    font-family: $font_family_1;
}

body {
    padding: 0;
    margin: 0;
    background: $white;
}

h1 {
    font-family: $font_family_1;
}

h2 {
    font-family: $font_family_1;
}

h3 {
    font-family: $font_family_1;
}

h4 {
    font-family: $font_family_1;
}

h5 {
    font-family: $font_family_1;
}

h6 {
    font-family: $font_family_1;
}

a {
    font-family: $font_family_1;
}

// @import "personal_nav";
//@import "personal_navbar";
@import "personal_header";
// @import "personal_about";
// @import "personal_blog";
@import "personal_map";
// EOF