.contact-form {
    margin: 6em 0;
    position: relative;

    h1 {
        padding: 2em 1px;
        // color: $color_3;
    }

    .right {
        max-width: 600px;

        .btn-secondary {
            background: #F97300;
            color: $color_5;
            border: 0;
        }

        .form-control {
            &::placeholder {
                color: $color_6;
                font-size: 16px;
            }
        }
    }
}