.team {
    margin: 4em 0;
    position: relative;

    h1 {
        // color: $color_3;
        margin: 2em;
    }

    .item {
        position: relative;
        overflow: hidden;

        &:hover {
            .des {
                height: 100%;
                background: #f973007d;
                position: absolute;
                width: 89%;
                padding: 5em;
                top: 0;
                border-top-right-radius: 0;
            }
        }
    }

    .des {
        background: #F97300;
        color: $color_5;
        text-align: center;
        border-top-right-radius: 93%;
        transition: .3s ease-in-out;
        position: absolute;
        width: 88%;
        bottom: 24px;
    }
}