.blog {
	margin: 4em 0;
	position: relative;

	h1 {
		// color: $color_3;
		margin: 2em;
	}

	.card {
		box-shadow: 0 0 20px #ccc;

		img {
			width: 100%;
			height: 12em;
		}
	}

	/*
	.card-title {
		color: $color_3;
	}
	*/

	.card-body {
		padding: 1em;
	}
}