/*
 *
 * REVISAR
 *
 * */

$color_1: #f4f4f4;
$color_2: #f97300;

//.navbar {
//    background: $color_2;
//}
.nav-link {
    color: $color_1;
    cursor: pointer;
    margin-right: 1em !important;

    &:hover {
        background: $color_1;
        color: $color_2;
    }
}

.navbar-brand {
    color: $color_1;
    cursor: pointer;

    &:hover {
        background: $color_1;
        color: $color_2;
    }
}

.navbar-collapse {
    justify-content: flex-end;
}

.navbar-toggler {
    background: $white !important;
    color: $color_2;
}