#about {
    margin: 4em 0;
    padding: 1em;
    position: relative;

    h1 {
        color: $color_3;
        margin: 2em;
    }

    img {
        height: 100%;
        width: 100%;
        border-radius: 50%;
    }

    span {
        display: block;
        color: $color_6;
        position: absolute;
        left: 115px;
    }

    .desc {
        padding: 2em;
        border-left: 4px solid #10828C;

        h3 {
            color: $color_7;
        }

        p {
            line-height: 2;
            color: $color_6;
        }
    }
}