// Variables

// Restated Bootstrap Variables

$white: #fff !default;
$gray-100: #f8f9fa !default;
$gray-200: #e9ecef !default;
$gray-300: #dee2e6 !default;
$gray-400: #ced4da !default;
$gray-500: #adb5bd !default;
$gray-600: #868e96 !default;
$gray-700: #495057 !default;
$gray-800: #343a40 !default;
$gray-900: #212529 !default;
$black: #000 !default;

$blue: #007bff !default;
$indigo: #6610f2 !default;
$purple: #6f42c1 !default;
$pink: #e83e8c !default;
$red: #dc3545 !default;
$orange: #fd7e14 !default;
$yellow: #ffc107 !default;
$green: #28a745 !default;
$teal: #20c997 !default;
$cyan: #17a2b8 !default;

$color_1: #07689F;
$color_2: #C9D6DF;
$color_3: #11D3BC;
$color_4: #A2D5F2;
$color_5: #FF7E67;
$color_6: #F67280;
$color_7: #FAFAFA;
$color_8: #4E4E4E;

$primary:   $color_1 !default;
$secondary: $color_2 !default;
$success:   $color_3 !default;
$info:      $color_4 !default;
$warning:   $color_5 !default;
$danger:    $color_6 !default;
$light:     $color_7 !default;
$dark:      $color_8 !default;
