// https://getbootstrap.com/docs/4.0/getting-started/theming/
$color01: rgba(35, 100, 175, 0.80); // #07689F;
$color02: rgba(201, 223, 201, 0.80);
$color03: #11D3BC;
$color04: #A2D5F2;
$color05: #FF7E67;
$color06: #F67280;
$color07: #FAFAFA;
$color08: #4E4E4E;
$color09: #4E4E4E;
$color10: #4E4E4E;
$white : #FFFFFF;
$gray-100: #f8f9fa;
$gray-200: #e9ecef;
$gray-300: #dee2e6;
$gray-400: #ced4da;
$gray-500: #adb5bd;
$gray-600: #6c757d;
$gray-700: #495057;
$gray-800: #343a40;
$gray-900: #212529;
$black : #000000;
$gray : $gray-600;
$blue : $color01; // #007bff;
$indigo : $color02; // #6610f2;
$purple : $color03; // #6f42c1;
$pink : $color04; // #e83e8c;
$red : $color05; // #dc3545;
$orange : $color06; // #fd7e14;
$yellow : $color07; // #ffc107;
$green : $color08; // #28a745;
$teal : $color09; // #20c997;
$cyan : $color10; // #17a2b8;
$colors: () !default;
// stylelint-disable-next-line scss/dollar-variable-default
$colors: map-merge( ( "blue" : $blue, "indigo" : $indigo, "purple" : $purple, "pink" : $pink, "red" : $red, "orange" : $orange, "yellow" : $yellow, "green" : $green, "teal" : $teal, "cyan" : $cyan, "white" : $white, "gray" : $gray-600, "gray-dark" : $gray-800), $colors);
$primary : $blue;
$secondary : $gray-600;
$success : $green;
$info : $cyan;
$warning : $yellow;
$danger : $red;
$light : $gray-200;
$dark : $gray-800;
$theme-colors: ();
// stylelint-disable-next-line scss/dollar-variable-default
$theme-colors: map-merge( ( "primary" : $primary, "secondary" : $secondary, "success" : $success, "info" : $info, "warning" : $warning, "danger" : $danger, "light" : $light, "dark" : $dark), $theme-colors);
// Body
//
// Settings for the `<body>` element.
$body-bg : $white;
$body-color : $gray-900;
// Links
//
// Style anchor elements.
// $link-color:                theme-color('primary');
$link-color : map-get($theme-colors, "primary");
$link-decoration : none;
$link-hover-color : darken($link-color, 15%);
$link-hover-decoration : underline;
// --------------------------------------------------------------------------
// Components
//@import "masthead.scss";
//@import "showcase.scss";
//@import "icons.scss";
//@import "testimonials.scss";
//@import "call-to-action.scss";
//@import "footer.scss";
// Personalization
@import "personal";
// --------------------------------------------------------------------------
//Basic
@import "node_modules/bootstrap/scss/bootstrap";
//// Required
//@import "node_modules/bootstrap/scss/functions";
//@import "node_modules/bootstrap/scss/variables";
//@import "node_modules/bootstrap/scss/mixins";
//// Optional
//@import "node_modules/bootstrap/scss/reboot";
//@import "node_modules/bootstrap/scss/type";
//@import "node_modules/bootstrap/scss/images";
//@import "node_modules/bootstrap/scss/code";
//@import "node_modules/bootstrap/scss/grid";
// EOF